/hello_cargo/target
/guessing_game/target
/variables/target
/functions/target
/branches/target
/ch3Projects/temp_convert/target
/ch3Projects/fibonacci/target
/ch3Projects/for_loops/target
/ch4/ownership/target
/ch4/slice_type/target
/ch5/structs/target
/ch5/rectangles/target
/ch5/methods/target
/ch6/enums/target
/ch6/match_flow/target
/ch6/control_flow/target
/random/hash_map/target
/ch7/my-project/target
/ch7/backyard/target
/ch7/restaurant/target
/ch8/vectors/target
/ch8/strings/target
/ch8/hashmaps/target
/ch8/median_vector/target
/ch8/pig_latin/target
/ch9/ur_errors/target
/ch9/r_errors/target